/* all media settings */
@media screen and (max-width: 800px) {
    div{
        &.portfolio {
            .photo-element {
                flex: 50%;
                max-width: 50%;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main{
         /* show horizontal scrollbar */
         overflow-x: scroll;        
     }
 
     div{
         &.portfolio {
             .photo-element {
                 flex: 100%;
                 max-width: 100%;
             }
         }
     }
 }