$part-one-footer-color: #686de0;
$part-one-page-color: #c3cfe2;
$part-one-text-background-color: #fff;

$part-one-row-height: 120px;
$part-one-column-width: 120px;

$social-media-size: 50px;
$social-media-size-expand: 200px;